<mat-nav-list (click)="close()">
  <a mat-list-item routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="pl-3">Home</span>
  </a>
  <a mat-list-item routerLink="/clothes">
    <mat-icon>shopping_bag</mat-icon>
    <span class="pl-3">Clothes</span>
  </a>
  <a mat-list-item [disabled]="cartItemsCounter === 0" routerLink="/cart">
    <mat-icon [matBadgeHidden]="cartItemsCounter === 0" matBadge="{{cartItemsCounter}}" matBadgeColor="warn">shopping_cart</mat-icon>
    <span class="pl-3">Cart</span>
  </a>
</mat-nav-list>

